@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
}

body {
  @apply bg-[#fafafa] text-slate-900 antialiased;
}

.gradient-text {
  @apply bg-brand-gradient bg-clip-text text-transparent;
}

.glass-panel {
  @apply backdrop-blur bg-white/80 border border-white/60 shadow-brand;
}
